In [1]:
# import dependencies
import pandas as pd
import requests
from sqlalchemy import create_engine

## import pwd
from config import password

In [2]:
# set url
url = 'https://www.rentdata.org/states/florida/'

In [3]:
html = requests.get(url).content

In [4]:
# # for loop time/gonna come back to this idea during Project 2

# # list of years of data available
# years = [2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]

# # create an empty dictionary so we can have year as the key
# year_dictionary = {}

# # will iterate over list of years to hit all pages of the url to get all the data without having to manually go to each one
# for year in years:
    
#     # must convert integer to a string to be able to use it in the html
#     str_year = str(year)
    
#     # create the full url, the '/' is necessary at the end in order to not get a "Forbidden 403"
#     full_url = url + str_year + "/"
    
#     # 
#     html = requests.get(full_url).content
    
#     # read all tables from html into a list of tables
#     list_of_tables = pd.read_html(html)
    
#     #append tables  to dictionary with year as key
#     year_dictionary[str_year] = list_of_tables[1:]

In [5]:
# Get 2006 Data
url = 'https://www.rentdata.org/states/florida/2006/'
content = requests.get(url).content

tables_2006 = pd.read_html(content)

# print table to make sure you have the correct one
rent_2006 = tables_2006[1]
rent_2006

                  County  0 BR  1 BR  2 BR  3 BR    4 BR  Est. Population
0   Alachua County Metro  $498  $550  $626  $915    $943           217955
1     Baker County Metro  $327  $453  $503  $735    $755            22259
2       Bay County Metro  $492  $519  $594  $820    $912           148217
3        Bradford County  $327  $454  $503  $623    $643            26088
4   Brevard County Metro  $469  $574  $676  $911  $1,015           476230
..                   ...   ...   ...   ...   ...     ...              ...
62          Union County  $389  $448  $503  $665    $686            13442
63  Volusia County Metro  $483  $564  $702  $908    $934           443343
64  Wakulla County Metro  $471  $512  $569  $748    $772            22863
65         Walton County  $444  $458  $536  $662    $682            40601
66     Washington County  $335  $381  $503  $721    $741            20973

[67 rows x 7 columns]

In [6]:
# add new column and populate with year
rent_2006['Year'] = 2006
rent_2006

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$498,$550,$626,$915,$943,217955,2006
1,Baker County Metro,$327,$453,$503,$735,$755,22259,2006
2,Bay County Metro,$492,$519,$594,$820,$912,148217,2006
3,Bradford County,$327,$454,$503,$623,$643,26088,2006
4,Brevard County Metro,$469,$574,$676,$911,"$1,015",476230,2006
...,...,...,...,...,...,...,...,...
62,Union County,$389,$448,$503,$665,$686,13442,2006
63,Volusia County Metro,$483,$564,$702,$908,$934,443343,2006
64,Wakulla County Metro,$471,$512,$569,$748,$772,22863,2006
65,Walton County,$444,$458,$536,$662,$682,40601,2006
66,Washington County,$335,$381,$503,$721,$741,20973,2006

In [7]:
# repeat with years 2007 - 2020 
# Get 2007 Data
url = 'https://www.rentdata.org/states/florida/2007/'
content = requests.get(url).content

tables_2007 = pd.read_html(content)

# select 2nd table
rent_2007 = tables_2007[1]

# add new column and populate with year
rent_2007['Year'] = 2007
rent_2007

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$518,$572,$651,$952,$981,217955,2007
1,Baker County Metro,$337,$467,$519,$759,$779,22259,2007
2,Bay County Metro,$512,$540,$618,$853,$949,148217,2007
3,Bradford County,$337,$468,$519,$643,$663,26088,2007
4,Brevard County Metro,$488,$597,$703,$947,"$1,056",476230,2007
...,...,...,...,...,...,...,...,...
62,Union County,$402,$462,$519,$687,$708,13442,2007
63,Volusia County Metro,$502,$587,$730,$944,$972,443343,2007
64,Wakulla County Metro,$490,$532,$592,$778,$803,22863,2007
65,Walton County,$463,$477,$558,$690,$710,40601,2007
66,Washington County,$346,$393,$519,$744,$765,20973,2007

In [8]:
# Get 2008 Data
url = 'https://www.rentdata.org/states/florida/2008/'
content = requests.get(url).content

tables_2008 = pd.read_html(content)

# select 2nd table
rent_2008 = tables_2008[1]

# add new column and populate with year
rent_2008['Year'] = 2008
rent_2008

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$591,$651,$742,"$1,085","$1,118",217955,2008
1,Baker County Metro,$361,$500,$555,$811,$833,22259,2008
2,Bay County Metro,$602,$635,$727,"$1,004","$1,117",148217,2008
3,Bradford County,$376,$522,$579,$717,$740,26088,2008
4,Brevard County Metro,$566,$692,$815,"$1,098","$1,224",476230,2008
...,...,...,...,...,...,...,...,...
62,Union County,$451,$519,$583,$771,$795,13442,2008
63,Volusia County Metro,$581,$679,$845,"$1,093","$1,125",443343,2008
64,Wakulla County Metro,$575,$625,$695,$914,$942,22863,2008
65,Walton County,$543,$559,$655,$810,$834,40601,2008
66,Washington County,$370,$420,$555,$795,$818,20973,2008

In [9]:
# Get 2009 Data
url = 'https://www.rentdata.org/states/florida/2009/'
content = requests.get(url).content

tables_2009 = pd.read_html(content)

# select 2nd table
rent_2009 = tables_2009[1]

# add new column and populate with year
rent_2009['Year'] = 2009
rent_2009

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$627,$692,$788,"$1,152","$1,188",217955,2009
1,Baker County Metro,$375,$519,$577,$844,$866,22259,2009
2,Bay County Metro,$638,$673,$771,"$1,065","$1,184",148217,2009
3,Bradford County,$399,$554,$614,$761,$785,26088,2009
4,Brevard County Metro,$601,$735,$866,"$1,167","$1,301",476230,2009
...,...,...,...,...,...,...,...,...
62,Union County,$478,$550,$618,$818,$843,13442,2009
63,Volusia County Metro,$616,$720,$896,"$1,159","$1,193",443343,2009
64,Wakulla County Metro,$610,$663,$737,$969,$999,22863,2009
65,Walton County,$576,$594,$695,$859,$885,40601,2009
66,Washington County,$384,$437,$577,$827,$850,20973,2009

In [10]:
# Get 2010 Data
url = 'https://www.rentdata.org/states/florida/2010/'
content = requests.get(url).content

tables_2010 = pd.read_html(content)

# select 2nd table
rent_2010 = tables_2010[1]

# add new column and populate with year
rent_2010['Year'] = 2010
rent_2010

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$663,$731,$833,"$1,218","$1,255",217955,2010
1,Baker County Metro,$382,$529,$588,$860,$883,22259,2010
2,Bay County Metro,$675,$711,$815,"$1,126","$1,252",148217,2010
3,Bradford County,$422,$585,$649,$804,$829,26088,2010
4,Brevard County Metro,$636,$778,$916,"$1,234","$1,376",476230,2010
...,...,...,...,...,...,...,...,...
62,Union County,$506,$582,$654,$865,$892,13442,2010
63,Volusia County Metro,$652,$762,$948,"$1,226","$1,262",443343,2010
64,Wakulla County Metro,$646,$701,$780,"$1,026","$1,058",22863,2010
65,Walton County,$609,$628,$735,$908,$936,40601,2010
66,Washington County,$392,$445,$588,$843,$867,20973,2010

In [11]:
# Get 2011 Data
url = 'https://www.rentdata.org/states/florida/2011/'
content = requests.get(url).content

tables_2011 = pd.read_html(content)

# select 2nd table
rent_2011 = tables_2011[1]

# add new column and populate with year
rent_2011['Year'] = 2011
rent_2011

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$656,$723,$824,"$1,205","$1,242",217955,2011
1,Baker County Metro,$387,$536,$596,$871,$895,22259,2011
2,Bay County Metro,$668,$705,$807,"$1,114","$1,240",148217,2011
3,Bradford County,$418,$580,$643,$797,$822,26088,2011
4,Brevard County Metro,$629,$770,$907,"$1,222","$1,362",476230,2011
...,...,...,...,...,...,...,...,...
62,Union County,$501,$576,$647,$856,$883,13442,2011
63,Volusia County Metro,$645,$754,$938,"$1,213","$1,248",443343,2011
64,Wakulla County Metro,$639,$694,$772,"$1,015","$1,047",22863,2011
65,Walton County,$603,$621,$727,$899,$925,40601,2011
66,Washington County,$397,$451,$596,$854,$879,20973,2011

In [12]:
# Get 2012 Data
url = 'https://www.rentdata.org/states/florida/2012/'
content = requests.get(url).content

tables_2012 = pd.read_html(content)

# select 2nd table
rent_2012 = tables_2012[1]

# add new column and populate with year
rent_2012['Year'] = 2012
rent_2012

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$648,$715,$814,"$1,190","$1,227",217955,2012
1,Baker County Metro,$432,$599,$665,$972,$998,22259,2012
2,Bay County Metro,$686,$724,$829,"$1,145","$1,273",148217,2012
3,Bradford County,$423,$586,$650,$805,$831,26088,2012
4,Brevard County Metro,$583,$713,$840,"$1,131","$1,262",476230,2012
...,...,...,...,...,...,...,...,...
62,Union County,$479,$551,$619,$819,$844,13442,2012
63,Volusia County Metro,$596,$696,$866,"$1,120","$1,153",443343,2012
64,Wakulla County Metro,$571,$620,$690,$907,$936,22863,2012
65,Walton County,$631,$650,$761,$941,$969,40601,2012
66,Washington County,$429,$488,$644,$923,$949,20973,2012

In [13]:
# Get 2013 Data
url = 'https://www.rentdata.org/states/florida/2013/'
content = requests.get(url).content

tables_2013 = pd.read_html(content)

# select 2nd table
rent_2013 = tables_2013[1]

# add new column and populate with year
rent_2013['Year'] = 2013
rent_2013

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$731,$751,$954,"$1,275","$1,658",247336,2013
1,Baker County Metro,$501,$627,$743,$992,"$1,080",27115,2013
2,Bay County Metro,$729,$776,$920,"$1,253","$1,583",168852,2013
3,Bradford County,$506,$528,$626,$922,$926,28520,2013
4,Brevard County Metro,$540,$706,$874,"$1,210","$1,439",543376,2013
...,...,...,...,...,...,...,...,...
62,Union County,$460,$463,$626,$812,$837,15535,2013
63,Volusia County Metro,$562,$723,$890,"$1,216","$1,309",494593,2013
64,Wakulla County Metro,$567,$571,$772,"$1,041","$1,367",30776,2013
65,Walton County,$615,$619,$838,"$1,110","$1,120",55043,2013
66,Washington County,$462,$465,$629,$834,$886,24896,2013

In [14]:
# Get 2014 Data
url = 'https://www.rentdata.org/states/florida/2014/'
content = requests.get(url).content

tables_2014 = pd.read_html(content)

# select 2nd table
rent_2014 = tables_2014[1]

# add new column and populate with year
rent_2014['Year'] = 2014
rent_2014

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$665,$684,$869,"$1,161","$1,510",247336,2014
1,Baker County Metro,$493,$617,$731,$976,"$1,062",27115,2014
2,Bay County Metro,$684,$727,$862,"$1,174","$1,483",168852,2014
3,Bradford County,$515,$537,$637,$939,$942,28520,2014
4,Brevard County Metro,$533,$696,$862,"$1,193","$1,419",543376,2014
...,...,...,...,...,...,...,...,...
62,Union County,$468,$471,$637,$826,$852,15535,2014
63,Volusia County Metro,$555,$713,$878,"$1,199","$1,291",494593,2014
64,Wakulla County Metro,$557,$561,$759,"$1,024","$1,344",30776,2014
65,Walton County,$650,$654,$885,"$1,173","$1,183",55043,2014
66,Washington County,$468,$471,$637,$845,$897,24896,2014

In [15]:
# Get 2015 Data
url = 'https://www.rentdata.org/states/florida/2015/'
content = requests.get(url).content

tables_2015 = pd.read_html(content)

# select 2nd table
rent_2015 = tables_2015[1]

# add new column and populate with year
rent_2015['Year'] = 2015
rent_2015

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$676,$695,$883,"$1,180","$1,534",247336,2015
1,Baker County Metro,$491,$614,$728,$972,"$1,058",27115,2015
2,Bay County Metro,$703,$747,$886,"$1,206","$1,524",168852,2015
3,Bradford County,$519,$542,$643,$948,$951,28520,2015
4,Brevard County Metro,$542,$709,$878,"$1,216","$1,446",543376,2015
...,...,...,...,...,...,...,...,...
62,Union County,$472,$475,$643,$834,$860,15535,2015
63,Volusia County Metro,$569,$731,$900,"$1,229","$1,324",494593,2015
64,Wakulla County Metro,$580,$584,$790,"$1,065","$1,399",30776,2015
65,Walton County,$592,$596,$807,"$1,069","$1,078",55043,2015
66,Washington County,$472,$475,$643,$852,$905,24896,2015

In [16]:
# Get 2016 Data
url = 'https://www.rentdata.org/states/florida/2016/'
content = requests.get(url).content

tables_2016 = pd.read_html(content)

# select 2nd table
rent_2016 = tables_2016[1]

# add new column and populate with year
rent_2016['Year'] = 2016
rent_2016

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$637,$719,$887,"$1,196","$1,392",247336,2016
1,Baker County Metro,$452,$626,$724,$957,"$1,199",27115,2016
2,Bay County Metro,$657,$755,$881,"$1,249","$1,483",168852,2016
3,Bradford County,$516,$548,$634,$924,$928,28520,2016
4,Brevard County Metro,$538,$688,$872,"$1,209","$1,502",543376,2016
...,...,...,...,...,...,...,...,...
62,Union County,$516,$548,$634,$836,$878,15535,2016
63,Volusia County Metro,$553,$720,$896,"$1,213","$1,363",494593,2016
64,Wakulla County Metro,$617,$635,$798,"$1,111","$1,200",30776,2016
65,Walton County Metro,$635,$666,$771,"$1,093","$1,346",55043,2016
66,Washington County,$471,$474,$634,$836,$878,24896,2016

In [17]:
# Get 2017 Data
url = 'https://www.rentdata.org/states/florida/2017/'
content = requests.get(url).content

tables_2017 = pd.read_html(content)

# select 2nd table
rent_2017 = tables_2017[1]

# add new column and populate with year
rent_2017['Year'] = 2017
rent_2017

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$624,$717,$878,"$1,177","$1,339",247336,2017
1,Baker County Metro,$477,$645,$752,$951,"$1,266",27115,2017
2,Bay County Metro,$693,$813,$949,"$1,359","$1,609",168852,2017
3,Bradford County,$532,$565,$652,$949,$990,28520,2017
4,Brevard County Metro,$561,$697,$884,"$1,222","$1,505",543376,2017
...,...,...,...,...,...,...,...,...
62,Union County,$532,$565,$652,$866,"$1,149",15535,2017
63,Volusia County Metro,$608,$764,$959,"$1,298","$1,454",494593,2017
64,Wakulla County Metro,$635,$719,$829,"$1,081","$1,229",30776,2017
65,Walton County Metro,$682,$715,$825,"$1,201","$1,454",55043,2017
66,Washington County,$487,$491,$652,$916,$919,24896,2017

In [18]:
# Get 2018 Data
url = 'https://www.rentdata.org/states/florida/2018/'
content = requests.get(url).content

tables_2018 = pd.read_html(content)

# select 2nd table
rent_2018 = tables_2018[1]

# add new column and populate with year
rent_2018['Year'] = 2018
rent_2018

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$648,$725,$894,"$1,174","$1,326",247336,2018
1,Baker County Metro,$473,$632,$741,$929,"$1,247",27115,2018
2,Bay County Metro,$731,$857,$995,"$1,421","$1,617",168852,2018
3,Bradford County,$563,$597,$686,$986,"$1,074",28520,2018
4,Brevard County Metro,$649,$803,"$1,018","$1,405","$1,726",543376,2018
...,...,...,...,...,...,...,...,...
62,Union County,$563,$597,$686,$908,"$1,208",15535,2018
63,Volusia County Metro,$609,$768,$955,"$1,287","$1,468",494593,2018
64,Wakulla County Metro,$673,$774,$889,"$1,115","$1,318",30776,2018
65,Walton County Metro,$723,$744,$854,"$1,242","$1,504",55043,2018
66,Washington County,$512,$516,$686,$975,$978,24896,2018

In [19]:
# Get 2019 Data
url = 'https://www.rentdata.org/states/florida/2019/'
content = requests.get(url).content

tables_2019 = pd.read_html(content)

# select 2nd table
rent_2019 = tables_2019[1]

# add new column and populate with year
rent_2019['Year'] = 2019
rent_2019

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$694,$773,$948,"$1,238","$1,377",247336,2019
1,Baker County Metro,$490,$622,$752,$942,"$1,275",27115,2019
2,Bay County Metro,$765,$867,"$1,011","$1,429","$1,593",168852,2019
3,Bradford County,$591,$606,$694,$983,"$1,164",28520,2019
4,Brevard County Metro,$642,$797,"$1,000","$1,370","$1,681",543376,2019
...,...,...,...,...,...,...,...,...
62,Union County,$591,$606,$694,$904,"$1,172",15535,2019
63,Volusia County Metro,$700,$868,"$1,083","$1,458","$1,672",494593,2019
64,Wakulla County Metro,$606,$772,$891,"$1,116","$1,411",30776,2019
65,Walton County Metro,$700,$718,$822,"$1,189","$1,444",55043,2019
66,Washington County,$521,$525,$694,"$1,003","$1,219",24896,2019

In [20]:
# Get 2020 Data
url = 'https://www.rentdata.org/states/florida/2020/'
content = requests.get(url).content

tables_2020 = pd.read_html(content)

# select 2nd table
rent_2020 = tables_2020[1]

# add new column and populate with year
rent_2020['Year'] = 2020
rent_2020

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$721,$795,$971,"$1,267","$1,315",0,2020
1,Baker County Metro,$522,$598,$788,$982,"$1,324",0,2020
2,Bay County Metro,$735,$805,$939,"$1,318","$1,480",0,2020
3,Bradford County,$637,$655,$746,"$1,042","$1,310",0,2020
4,Brevard County Metro,$702,$866,"$1,078","$1,465","$1,788",0,2020
...,...,...,...,...,...,...,...,...
62,Union County,$609,$627,$714,$911,"$1,244",0,2020
63,Volusia County Metro,$750,$900,"$1,111","$1,494","$1,690",0,2020
64,Wakulla County Metro,$608,$761,$933,"$1,163","$1,638",0,2020
65,Walton County Metro,$751,$773,$880,"$1,269","$1,545",0,2020
66,Washington County,$539,$542,$714,"$1,030","$1,254",0,2020

In [21]:
# append dataframes together
rent_06_07 = rent_2006.append(rent_2007)
rent_06_08 = rent_06_07.append(rent_2008)
rent_06_09 = rent_06_08.append(rent_2009)
rent_06_10 = rent_06_09.append(rent_2010)
rent_06_11 = rent_06_10.append(rent_2011)
rent_06_12 = rent_06_11.append(rent_2012)
rent_06_13 = rent_06_12.append(rent_2013)
rent_06_14 = rent_06_13.append(rent_2014)
rent_06_15 = rent_06_14.append(rent_2015)
rent_06_16 = rent_06_15.append(rent_2016)
rent_06_17 = rent_06_16.append(rent_2017)
rent_06_18 = rent_06_17.append(rent_2018)
rent_06_19 = rent_06_18.append(rent_2019)
all_rent = rent_06_19.append(rent_2020)

In [22]:
all_rent

,County,0 BR,1 BR,2 BR,3 BR,4 BR,Est. Population,Year
0,Alachua County Metro,$498,$550,$626,$915,$943,217955,2006
1,Baker County Metro,$327,$453,$503,$735,$755,22259,2006
2,Bay County Metro,$492,$519,$594,$820,$912,148217,2006
3,Bradford County,$327,$454,$503,$623,$643,26088,2006
4,Brevard County Metro,$469,$574,$676,$911,"$1,015",476230,2006
...,...,...,...,...,...,...,...,...
62,Union County,$609,$627,$714,$911,"$1,244",0,2020
63,Volusia County Metro,$750,$900,"$1,111","$1,494","$1,690",0,2020
64,Wakulla County Metro,$608,$761,$933,"$1,163","$1,638",0,2020
65,Walton County Metro,$751,$773,$880,"$1,269","$1,545",0,2020
66,Washington County,$539,$542,$714,"$1,030","$1,254",0,2020

In [23]:
rental_data = all_rent.rename(columns={'County':'county','0 BR':'0_BR','1 BR':'1_BR','2 BR':'2_BR','3 BR':'3_BR','4 BR':'4_BR','Est. Population':'est_pop','Year':'year'})
rental_data

                  county  0_BR  1_BR    2_BR    3_BR    4_BR  est_pop  year
0   Alachua County Metro  $498  $550    $626    $915    $943   217955  2006
1     Baker County Metro  $327  $453    $503    $735    $755    22259  2006
2       Bay County Metro  $492  $519    $594    $820    $912   148217  2006
3        Bradford County  $327  $454    $503    $623    $643    26088  2006
4   Brevard County Metro  $469  $574    $676    $911  $1,015   476230  2006
..                   ...   ...   ...     ...     ...     ...      ...   ...
62          Union County  $609  $627    $714    $911  $1,244        0  2020
63  Volusia County Metro  $750  $900  $1,111  $1,494  $1,690        0  2020
64  Wakulla County Metro  $608  $761    $933  $1,163  $1,638        0  2020
65   Walton County Metro  $751  $773    $880  $1,269  $1,545        0  2020
66     Washington County  $539  $542    $714  $1,030  $1,254        0  2020

[1005 rows x 8 columns]

In [24]:
rental_data.columns

Index(['county', '0_BR', '1_BR', '2_BR', '3_BR', '4_BR', 'est_pop', 'year'], dtype='object')

In [25]:
# remove $$$$$ and ,,,,,,,

rental_data_clean = rental_data

In [26]:
rental_data_clean['0_BR'] = rental_data_clean['0_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['1_BR'] = rental_data_clean['1_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['2_BR'] = rental_data_clean['2_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['3_BR'] = rental_data_clean['3_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean['4_BR'] = rental_data_clean['4_BR'].str.replace('$' , "").str.replace("," , "")
rental_data_clean

                  county 0_BR 1_BR  2_BR  3_BR  4_BR  est_pop  year
0   Alachua County Metro  498  550   626   915   943   217955  2006
1     Baker County Metro  327  453   503   735   755    22259  2006
2       Bay County Metro  492  519   594   820   912   148217  2006
3        Bradford County  327  454   503   623   643    26088  2006
4   Brevard County Metro  469  574   676   911  1015   476230  2006
..                   ...  ...  ...   ...   ...   ...      ...   ...
62          Union County  609  627   714   911  1244        0  2020
63  Volusia County Metro  750  900  1111  1494  1690        0  2020
64  Wakulla County Metro  608  761   933  1163  1638        0  2020
65   Walton County Metro  751  773   880  1269  1545        0  2020
66     Washington County  539  542   714  1030  1254        0  2020

[1005 rows x 8 columns]

In [27]:
#convert additional columns to integer
rental_data_clean['0_BR'] = rental_data_clean['0_BR'].astype(int)
rental_data_clean['1_BR'] = rental_data_clean['1_BR'].astype(int)
rental_data_clean['2_BR'] = rental_data_clean['2_BR'].astype(int)
rental_data_clean['3_BR'] = rental_data_clean['3_BR'].astype(int)
rental_data_clean['4_BR'] = rental_data_clean['4_BR'].astype(int)
rental_data_clean['est_pop'] = rental_data_clean['est_pop'].astype(int)

In [28]:
# check to make sure that year is an integer
rental_data_clean.dtypes

county     object
0_BR        int32
1_BR        int32
2_BR        int32
3_BR        int32
4_BR        int32
est_pop     int32
year        int64
dtype: object

In [29]:
# create a dataframe of years because we need a primary key table (oops)
year = rental_data_clean.drop(columns =['county','0_BR','1_BR','2_BR','3_BR','4_BR','est_pop'])

year = year.drop_duplicates()

In [30]:
# populating SQL Postgres
postgres_conn_string = f"postgres:{password}" 
engine = create_engine(f"postgresql://{postgres_conn_string}@localhost:5432/housing")

In [31]:
engine.table_names()

['year', 'incomes', 'housing', 'rental_pricing', 'homelessness']

In [32]:
year.to_sql(name = 'year', con = engine, if_exists='append', index=False)

In [33]:
rental_data_clean.to_sql(name = 'rental_pricing', con = engine, if_exists='append', index=False)

In [34]:
pd.read_sql_query('select * from year', con=engine).head()

   year
0  2006
1  2007
2  2008
3  2009
4  2010